<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-md-8">
      <h1>お問い合わせ一覧</h1>

      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>email</th>
            <th>対応</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @inquiries.each do |inquiry| %>
            <tr>
              <td><%= link_to inquiry.name, admin_user_path(inquiry.user_id) %></td>
              <td><%= inquiry.email %></td>
              <td>
                <% if inquiry.replied? %>
                  <span class="badge badge-success">返信済み</span>
                <% else %>
                  <span class="badge badge-danger">未返信</span>
                <% end %>
              </td>
              <td>
                <%= link_to '詳細', admin_inquiry_path(inquiry), class: 'btn btn-info' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
