<div class="container mt-4">
  <h1 class="mb-4">コメント一覧</h1>
  <div class="row">
    <% @comments.each do |comment| %>
      <div class="col-md-6 mb-3">
        <%= render partial: 'comment_moderation', locals: { comment: comment } %>
      </div>
    <% end %>
  </div>
  <div style="width: 30%; margin: 0 auto;">
    <%= paginate @comments %>
  </div>
</div>

