<div class="ingredient-fields row align-items-center">
  <!--編集の際データベースからも削除できるように-->
    <%= f.hidden_field :_destroy %>
  <div class="col">
    <div class="form-group">
      <%= f.text_field :name, placeholder: "材料名(必須)", class: 'form-control light-placeholder' %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.text_field :amount, placeholder: "分量(必須)", class: "form-control light-placeholder" %>
    </div>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-danger remove-ingredient mb-3">
      <i class="fas fa-trash-alt"></i> 
    </button>
  </div>
</div>

<script>
  $(document).ready(function(){
      // 削除ボタンがクリックされたときの処理
      $(document).on('click', '.remove-ingredient', function(){
          // クリックされた.削除ボタンに最も近い.ingredient-fieldsを取得
          let $ingredientFields = $(this).closest('.ingredient-fields');
          
          // その.ingredient-fields内のinput要素のrequired属性を削除
          $ingredientFields.find('input').removeAttr('required');
          
          // _destroyにtrueをセットして、そのフィールドを隠す
          $ingredientFields.find("input[name$='[_destroy]']").val('true');
          $ingredientFields.hide();
      });
  });
</script>