<div class="instruction-field form-group">
  <%= f.hidden_field :_destroy %>
  <div class="form-group">
    <%= f.label :instructions, raw("ステップ" + content_tag(:span, "*", class: "required-label")) %>
    <div class="input-group">
      <%= f.text_area :instructions, class: "form-control", rows: "2" %>
      <div class="input-group-append">
        <button type="button" class="btn btn-danger remove-instruction">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      // 削除ボタンがクリックされたときの処理
      $(document).on('click', '.remove-instruction', function(){
          // クリックされた.remove-instructionボタンに最も近い.instruction-fieldを取得
          let $instructionField = $(this).closest('.instruction-field');
          
          // その.instruction-field内のinput要素のrequired属性を削除
          $instructionField.find('input, textarea').removeAttr('required');
          
          // _destroyにtrueをセットして、そのフィールドを隠す
          $instructionField.find("input[name$='[_destroy]']").val('true');
          $instructionField.hide();
      });
  });
</script>