<div class="instruction-field form-group">
  <div class="form-group">
    <%= f.label :instructions, raw("ステップ" + content_tag(:span, "（必須）", class: "required-label")) %>
    <%= f.text_area :instructions, class: "form-control" %>
  </div>
</div>
