<!--変わる部分だけをローカル変数に動的に変更（action属性のパスを変更）-->
<div class="container mt-2 mb-4 d-flex justify-content-between">
  <form method="get" action="<%= posts_path_variable %>" class="search_container mr-2">
    <input type="text" name="search" size="25" placeholder="料理名,野菜,タグで検索">
    <input type="submit" value="&#xf002">
  </form>
  <div class="dropdown ml-auto">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      並び替え
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <!--params[:search]とparams[:tag]の値を維持しながら、新しい並べ替えのパラメータを追加-->
      <%= link_to "人気順", { search: params[:search], tag: params[:tag], popular: true }, class: "dropdown-item" %>
      <%= link_to "古い順", { search: params[:search], tag: params[:tag], oldest: true }, class: "dropdown-item" %>
      <%= link_to "新しい順", { search: params[:search], tag: params[:tag] }, class: "dropdown-item" %>
    </div>
  </div>
</div>
