  <!--変わる部分だけをローカル変数に動的に変更（action属性のパスを変更）-->
  <form method="get" action="<%= posts_path_variable %>" class="search_container mr-4">
    <input type="text" name="search" size="25" placeholder="キーワードを入力">
    <input type="submit" value="&#xf002">
  </form>
  

