

<div class="container mt-2 mb-4">
  <form method="get" action="<%= posts_path %>" class="search_container">
    <input type="text" name="search" size="25" placeholder="料理名,野菜,タグで検索">
    <input type="submit" value="&#xf002">
  </form>
</div>

  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
    <!--退会しているユーザーの投稿は表示されない-->
     <% unless post.user.is_deleted %> 
     <!--投稿アイテム-->
      <%= render partial: 'public/posts/post_item', locals: {post: post} %>
     <% end %>
    <% end %>
   
  </div>
  <!--# ページネーション自体の幅を小さくして中央寄せ-->
   <div style="width: 30%; margin: 0 auto;"> 
    <%= paginate @posts %>
   </div>

