<div class="container mt-4">
  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
     <!--投稿アイテム-->
      <%= render partial: 'public/posts/post_item', locals: {post: post} %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
