<!--検索、並び替え部分テンプレート-->
<%= render partial: 'search_and_sort', locals: { posts_path_variable: posts_path } %> 

<div class="d-flex align-items-center mb-4">
  <%= link_to "タグで探す", tags_path, class: "btn btn-info ml-5" %>
</div>

  <div class="row justify-content-center">
    <% @posts.each do |post| %>
    <!--退会しているユーザーの投稿は表示されない-->
      <% unless post.user.is_deleted %> 
     <!--投稿アイテム-->
      <!--partialの役割は再利用可能なビューの断片を作成・表示すること-->
      <%= render partial: 'post_item', locals: {post: post} %>
      <% end %>
    <% end %>
  </div>
  <!--# ページネーション自体の幅を小さくして中央寄せ-->
   <div style="width: 30%; margin: 0 auto;"> 
    <%= paginate @posts %>
   </div>

