<!--コメントフォーム部分-->
<%= form_with(model: [post, Comment.new], local: false, html: { id: 'comment_form', class: 'mb-4' }) do |form| %>
  <div class="form-group">
    <%= form.label :content, "コメントしよう!（100文字まで)" %>
    <%= form.text_area :content, placeholder: "コメントを入力", class: "form-control" %>
  </div>
  <%= form.submit "コメント", class: "btn btn-warning" %>
<% end %>

<!--コメントした後フォームをからにする-->
<script>
  document.getElementById('comment_form').addEventListener('ajax:success', function() {
    this.reset();
  });
</script>