
<h1><%= @shop.name %></h1>
<p><%= @shop.description %></p>
<p><%= @shop.address %></p>
<% if @shop.shop_icon.attached? %>
  <%= image_tag @shop.shop_icon.variant(resize_to_limit: [100, 100]) %>
<% end %>
