
  <div class="container mt-5">
    <title>About - SeasonaryCook</title>
    <h1 class="text-center">SeasonaryCook - 季節の味を楽しもう</h1>
    <hr>

    <section>
      <p><strong>SeasonaryCook</strong> は旬の野菜を活用したアイデア料理共有サイトです。季節に合わせた最高の食材を使用することで、新しい味と健康的なライフスタイルを提案します。</p>
    </section>

    <section class="mt-4">
      <h3>機能一覧</h3>
      <ul>
        <li><strong>投稿機能</strong>: 自分のお気に入りのレシピを写真付きで共有できます。</li>
        <li><strong>コメント機能</strong>: レシピに感想や質問を投稿できます。</li>
        <li><strong>ブックマーク機能</strong>: お気に入りのレシピを後で見るために保存できます。</li>
        <li><strong>いいね機能</strong>: お気に入りのレシピにいいねをして、後で簡単に見つけられます。</li>
        <li><strong>フォロー機能</strong>: 料理の達人やお友達をフォロー。</li>
        <li><strong>ゲストログイン機能</strong>: 会員登録せずにすぐにアプリを試せます。(投稿機能、ブックマーク機能等は、利用できません）</li>
        <li><strong>タグ検索と設定機能</strong>: お気に入りの食材や料理のスタイルでレシピを探せます。</li>
        <li><strong>季節ごとの検索</strong>: 春夏秋冬、それぞれの季節にぴったりの食材で検索。</li>
      </ul>
    </section>

    <section class="mt-4">
      <h3>旬の野菜を生かすレシピを発見しよう</h3>
      <p>旬の野菜で一味違う料理を作ってみたい、新しいレシピに出会いたい、そんなあなたを「Seasonary Cook」は待っています。
          <br>あなたの料理ライフを一緒に楽しみましょう。「Seasonary Cook」で、美味しい料理の新たな世界を発見してください。</p>
    </section>

    <section class="mt-4">
      <h3>はじめての方へ</h3>
      <p>SeasonaryCookは誰でも無料で利用できます。今すぐアカウントを作成して、季節の料理にチャレンジしましょう。<br>一緒に料理の楽しさを分かち合いましょう。</p>
    </section>
  </div>
