<div class="container mt-5">
    <title>About - SeasonaryCook</title>
    <h1 class="text-center text-primary">SeasonaryCook - 季節の味を楽しもう</h1>
    <hr>

    <section>
      <p class="text-secondary"><strong>SeasonaryCook</strong> は旬の野菜を活用したアイデア料理共有サイトです。<br>
      季節に合わせた最高の食材を使用することで、新しい味と健康的なライフスタイルを提案します。</p>
    </section>

    <section class="mt-4">
      <h3 class="text-success">機能一覧</h3>
      <ul class="list-group">
        <!-- 各機能に対応するアイコンと色を追加 -->
        <li class="list-group-item"><strong >投稿機能</strong>: 自分のお気に入りのレシピを写真付きで共有できます。</li>
        <li class="list-group-item"><strong>コメント機能</strong>: レシピに感想や質問を投稿できます。</li>
        <li class="list-group-item"><strong>ブックマーク機能</strong>: お気に入りのレシピを後で見るために保存できます。</li>
        <li class="list-group-item"><strong>いいね機能</strong>: お気に入りのレシピにいいねをして、一覧ページから後で簡単に見つけられます。</li>
        <li class="list-group-item"><strong>フォロー機能</strong>: 料理の達人やお友達をフォローして共有し合いましょう。</li>
        <li class="list-group-item"><strong>タグ検索と設定機能</strong>: お気に入りの食材や料理のスタイルでレシピを探せます。</li>
        <li class="list-group-item"><strong>季節ごとの検索</strong>: 春夏秋冬、それぞれの季節にぴったりの食材で検索。</li>
        <li class="list-group-item"><strong>通知機能</strong>: フォローされた時、投稿にいいね、コメントがされた時に通知が届きます</il>
        <li class="list-group-item"><strong>お問い合わせ機能</strong>: 運営部へのお問い合わせができます。困り事があればご相談ください。</il>
        <li class="list-group-item"><strong>ゲストログイン機能</strong>: 会員登録せずにすぐにアプリを試せます。(いいね、ブックマーク、コメント機能等は、利用できません）</li>
      </ul>
    </section>

    <section class="mt-4">
      <h3 class="text-warning">旬の野菜を生かすレシピを発見しよう</h3>
      <p>旬の野菜で一味違う料理を作ってみたい、新しいレシピに出会いたい、そんなあなたを「Seasonary Cook」は待っています!
          <br>今すぐ登録してあなたも料理ライフを一緒に楽しみましょう。「Seasonary Cook」で、美味しい料理の新たな世界を発見してください。</p>
    </section>

    <section class="mt-4">
      <h3 class="text-danger">はじめての方へ</h3>
      <p>SeasonaryCookは誰でも無料で利用できます。今すぐアカウントを作成して、季節の料理にチャレンジしましょう。<br>たくさんのレシピを投稿して、一緒に料理の楽しさを分かち合いましょう！</p>
    </section>
</div>
