<h1 class="ml-5 mb-5">#<%= @tag.name %></h1>
  <div class="row justify-content-center">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <!-- 投稿アイテム -->
        <%= render partial: 'public/posts/post_item', locals: {post: post} %>
      <% end %>
    <% else %>
      <h4>該当する投稿がありません</h4>
    <% end %>
  </div>