@use '~bootstrap/scss/bootstrap';
@import "post";
@import "user";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 150px;
  background-size: cover;
  background-position: center;
}

// トップページ

// マスク設定
.mask {
  background: rgba(255, 255, 255, 0.5); /* 白のマスクを半透明でかける */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px; /* フッターの高さ分だけ上に設定する */
  left: 0;
}

.app-name-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255,255,224,0.85); 
  padding: 30px; /* パディングを増やしてマスクサイズを大きくする */
  border-radius: 50px; /* 角を丸くする */
}


// 文字の設定
.app-name {
  font-size: 100px;
  font-weight: bold;
  color: #009900;
}

.app-sub-name { 
  font-size: 35px;
  font-weight: bold;
  color: #66CDAA;
}

@media (max-width: 768px) { 
  .app-name-wrapper {
    text-align: center;
  }
  .app-name {
    font-size: 50px; /* フォントサイズを小さく */
  }
  .app-sub-name {
    font-size: 20px; /* フォントサイズを小さく */
  }
}

@media (max-width: 420px) {
  .app-name-wrapper {
    text-align: center;
  }
  .app-name {
    font-size: 30px; /* フォントサイズを小さく */
  }
  .app-sub-name {
    font-size: 15px; /* フォントサイズを小さく */
  }
}

// ボタンの設定
.button-wrapper {
  position: absolute;
  top: 80%; /* ボタンの位置を調整 */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.top-page .btn {
  margin: 10px; /* ボタン間の余白 */
  width: 100%; /* ボタンの幅を最大に */
}

.app-name-wrapper, .button-wrapper {
  max-width: 80%; /* コンテナの最大幅を設定 */
  margin: auto; /* 中央寄せ */
}


// ヘッダー、フッター
.content {
  flex: 1 0 auto; /* メインコンテンツがページを埋めるように */
}

footer {
  flex-shrink: 0; /* フッターが縮まないように */
  height: 50px;
}

.header-footer-bg {
  background-color: #669966;
}

// !important が使用されている理由は、Bootstrapなどのフレームワークが適用するスタイルを上書きするためです。
.nav-item a {
  color: #F5FFFA !important; 
}

.nav-item {
  font-size: 20px;
}

// 通知用アイコン
.notification-icon i {
  font-size: 28px; /* アイコンの大きさを変更 */
  color: #FFD700; /* アイコンの色を変更 */
  position: relative; /* 未読マークの位置を調整するための基準 */
}

.notification-mark {
  background-color: red; /* 未読マークの色を変更 */
  width: 10px; /* 未読マークの幅 */
  height: 10px; /* 未読マークの高さ */
  position: absolute; /* 未読マークの位置を絶対位置で指定 */
  top: 40px; /* 未読マークの上方向の位置 */
  right: 38px; /* 未読マークの右方向の位置 */
  border-radius: 50%; /* 未読マークを円形に */
}

@media (max-width: 768px) { 
.notification-mark {
  top: 252px; /* 未読マークの上方向の位置 */
  right: 46px; /* 未読マークの右方向の位置 */
 }
}

@media (max-width: 768px) { 
  .navbar-nav .nav-item {
    font-size: 18px; 
  }
  .navbar-light .navbar-toggler {
    background-color: #F0FFF0; // ハンバーガーアイコンの背景色
  }
  .navbar-collapse {
    padding: 10px; // 余白の調整
  }
}


// 検索フォーム
.search_container{
  box-sizing: border-box; 
  position: relative;  //絶対位置を使う場合の基準位置を設定
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px; //ボーダーの角を丸くします。
  height: 2.3em;
  width: 265px;
  overflow: hidden; //子要素がはみ出した場合に隠す
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;  //テキスト入力部分の高さを設定します。
}
// （入力欄を選択したとき）に表示されるアウトラインを削除
.search_container input[type="text"]:focus { 
  outline: 0;
}
// placeholderの文字色を変更
.search_container input[type="text"]::placeholder {
  color: #aaa; 
  opacity: 0.7; 
}
// 送信ボタン
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right: 0px;
  top: -3px;
  outline : none;
}


// ここからページネーション
.pager .pagination {
  text-align: center;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 50px;
}

.pager .pagination li.pre,
.pager .pagination li.next{
  background: #FFBEDA;
  color: #fff;
}

.pager .pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.pager .pagination li.pre a,
.pager .pagination li.next a{
  color: #fff;
}

.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color: #000;
  background: #FFEEFF;
  border-radius: 10px;
  border-radius: 50px;
  animation: animScale 0.4s ease-out;
  transform-origin: 50% 50%;
  -webkit-animation: animScale 0.4s ease-out;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animScale 0.4s ease-out;
  -moz-transform-origin: 50% 50%;
}
@keyframes animScale {
  0% { transform: scale(0.8, 0.8); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
}
@-webkit-keyframes animScale {
  0% { -webkit-transform: scale(0.8, 0.8); }
  40% { -webkit-transform: scale(1.2, 1.2); }
  60% { -webkit-transform: scale(1, 1); }
  80% { -webkit-transform: scale(1.1, 1.1); }
  100% { -webkit-transform: scale(1, 1); }
}
@-moz-keyframes animScale {
  0% { -moz-transform: scale(0.8, 0.8); }
  40% { -moz-transform: scale(1.2, 1.2); }
  60% { -moz-transform: scale(1, 1); }
  80% { -moz-transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); }
}
// ここまでページネーション