// 投稿画像サイズ
#imagePreviewImg {
  width: 450px; 
  height: 300px;
}

// 必須文字
.required-label {
  color: red;
}

// ラジオボタン
.custom-radio .form-check-input {
  width: 25px;
  height: 25px;
}
.custom-radio .form-check-label {
  font-size: 1.2rem; /* フォントサイズの調整 */
  font-weight: bold; /* 太字にする */
}

.tag {
  display: inline-block;
  padding: 3px 12px;
  background-color: #FFD5EC; 
  border-radius: 20px; /* 丸みを持たせる */
  margin: 2px;
  color: #333; 
  text-decoration: none; /* 下線を消す */
}
 /* マウスオーバー時の設定 */
.tag:hover {  
  background-color: #F5C2D6;
  color: #333;
  text-decoration: none; 
}

  
  // コメント表示ボタン
.commentbox-toggle {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background_color: #FF8856;
  }


/* index 5カラムのレイアウトを追加 */
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 20%;
  }
}

