// 投稿画像サイズ
#imagePreviewImg {
  max-width: 500px; 
  max-height: 400px;
}

// コメント表示ボタン
.commentbox-toggle {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background_color: #FF8856;
  }


/* index 5カラムのレイアウトを追加 */
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 20%;
  }
}

