.shop_icon {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* 丸い形状にするための設定 */
  object-fit: cover; /* 画像のアスペクト比を保つための設定 */
}

.card-image-wrapper {
  height: 200px;
  overflow: hidden;
}

.card-image {
  height: auto;
  width: 100%;
}
