.profile-icon {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; /* 丸い形状にするための設定 */
  object-fit: cover; /* 画像のアスペクト比を保つための設定 */
}

// いいね、ブックマーク一覧リンク
.like-link {
  color: red;
}
.bookmark_link {
  color: #6495ED;
}
// ホバー時
.like-link:hover {
  color: #FF82B2;
}
.bookmark_link:hover {
  color: #A4C6FF;
}


// フォロー、フォロワーリンク
.profile-details {
  font-size: 18px;
  color: #555;
}

.profile-link {
  font-weight: bold;
  color: #6699CC; 
}

// フォローボタン
.btn-follow {
  background-color: #00BFFF; 
  color: #fff;
}
// ホバー時
.btn-follow:hover {
  background-color: #A7F1FF; 
}
