
  <h1><%= @user.name %>のブックマークした投稿</h1>
  <div class="row">
    <% @bookmarks.each do |post| %>
     <% unless post.user.is_deleted %>
     <!--投稿アイテム-->
      <%= render partial: 'public/posts/post_item', locals: { post: post } %>
     <% end %>
    <% end %>
  </div>

