 <h3 class="text-center mb-5" style="background-color: #FFD5EC;"><%= @user.name %>のいいねした投稿</h3>
  <div class="row">
    <% @liked_posts.each do |post| %>
      <% unless post.user.is_deleted %>
      <!--投稿アイテム-->
       <%= render partial: 'public/posts/post_item', locals: { post: post } %>
      <% end %>
    <% end %>
  </div>

    
