<div class="container mt-4">
  <h1><%= @user.name %>のいいねした投稿</h1>
  <div class="row">
    <% @liked_posts.each do |post| %>
      <% unless post.user.is_deleted %>
      <!--投稿アイテム-->
       <%= render partial: 'public/posts/post_item', locals: { post: post } %>
      <% end %>
    <% end %>
  </div>
</div>
    
