<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-header">
      <h1>商品登録</h1>
    </div>
    <div class="card-body">
      <%= form_with(model: [ @shop, @item ], url: user_shop_items_path(user_id: @shop.user_id, shop_id: @shop.id), local: true) do |f| %>
        
        <%= render partial: 'item_form', locals: { f: f }  %>
        
      <% end %>
    </div>
  </div>
</div>
